.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  .logo {
    width: 40px;
  }
  .inputs {
    width: 550px;
    height: 50px;
    background-color: #f5f8fa;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #858e96;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .email-container {
    margin-bottom: 18px;
    margin: 0 auto;
  }
  .login-button {
    width: 565px;
    height: 50px;
    background-color: #9bd1f9;
    border: 0;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
  }
  .login-form-section {
    margin-bottom: 30px;
  }
  .login-footer a {
    color: #42a2e3;
    text-decoration: none;
    padding-right: 10px;
  }